.wrapper {
  background: #50a3a2;
  background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;



}
.todos-header{
  margin: 0 auto;
  padding: 20px;
  max-width: 1400px;
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  position: relative;
  z-index: 5;
  appearance: none;
  outline: 0;
  display: inline-block;
  background-color: white;
  border: 0;
  color: #757575;
  border-radius: 3px;
  font-size: 18px;
  transition-duration: 0.25s;
  padding: 15px 20px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

}

.button:hover {
  color: #50a3a2 ;
}
.todos-input{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
}

.input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 220px;
  height: 25px;
  font-size: 19px;
  border-radius: 3px 0 0 3px;
  padding: 10px 15px;
  display: block;
  text-align: left;
  color: white;
  font-weight: 300;
}

.btn-add{
  border-left: none;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  background-color: white;
  border: 0;
  color: #757575;
  border-radius:0 3px 3px 0;
  font-size: 20px;
  padding: 12px;
  font-weight: 600;
}


.todos-box{
  max-width: 1400px;
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}

.bg-bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;

}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  animation-delay: 11s;
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px) rotate(600deg);
  }
}
