.todos-header{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.todos-input{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}


.todos-box{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
