<div class="wrapper">
  <div class="todos-header">
    <h1>Angular TODO</h1>
    <button class="button" (click)="logoutHandler()">Logout</button>
  </div>
  <div class="todos-input">
    <input class="input" type="text" placeholder="Add new todo" [(ngModel)]="todoTitle" />
    <button class="btn-add" (click)="addTodoHandler()">add</button>
  </div>
  <div class="todos-box">
    <tl-todo
      *ngFor="let todo of todos$ | async"
      [todo]="todo"
      (removeTodoEvent)="removeTodo($event)"
      (editTodoEvent)="editTodo($event)"
    ></tl-todo>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
