.box {
  width: 300px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red
}

.inputError {
  background-color: #f3c4c4;
}

.inputSuccess {
  background-color: #cff3cf;
}

