
.container {
  position: fixed;
  top:45%;
  left: 50%;
  padding: 29px 0 20px 0;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  transform: translate(-50%,-50%);
}



/* Title */
.title {
  position: relative;
  z-index: 5;
  border-left: 5px solid #ffffff;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: 200;
  text-transform: uppercase;


}


.form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 5;


}



/* Inputs */
.input-container{
  position: relative;
}

.input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 50px 40px 50px;
  z-index: 5;
  position: relative;
  width: 250px;
  height: 40px;
  font-size: 24px;
  border-radius: 3px;
  padding: 10px 15px;
  display: block;
  text-align: center;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

.input :hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}


/*checkbox*/


input[type="checkbox"] {
  display: none;
}

.checkbox-container{
  margin: -10px 50px 10px 50px;
  align-self: flex-start;
}


.checkbox + label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox + label::before {
  content: '';
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color:  rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  position: relative;
  z-index: 5;
}


label {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}


/*end-chexbox*/




/* Button */
.button-container {
  margin: 0 60px 50px;
  text-align: center;
}

.form button {
  width: 250px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  appearance: none;
  outline: 0;
  display: inline-block;
  background-color: white;
  border: 0;
  color: #757575;
  border-radius: 3px;
  font-size: 18px;
  transition-duration: 0.25s;
  padding: 20px 50px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

}

.form button:hover {
  background-color: #f5f7f9;
}

.errorText {
  position: absolute;
  top: 70px;
  left: 121px;
}


.error {
  color: red
}

.inputError {
  color: #f3c4c4;
}

.bg-bubbles {
  position: absolute;
  bottom: 25%;
  width: 400px;
  z-index: 1;
  padding-left: 0;
  margin-left: -35px;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square 25s infinite;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;

}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  animation-delay: 11s;
}

@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-480px) rotate(600deg);
  }
}




