.box {
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  left:50%;
  transform: translate(-50%,10%);



}
.box:before{
  content: '';
  position: absolute;
  z-index: 3;
  top: 69px;
  right: -17px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:#9a6aff;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 29px 0 20px 0;
  box-sizing: border-box;
  transition: .3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/* Title */
.title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #9a6aff;
  text-align: left;
  padding-left: 50px;
  color: #9a6aff;
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Inputs */
.input-container {
  position: relative;
  margin: 0 60px 50px;
}

input {
  outline: none;
  z-index: 1;
  position: relative;
  background: transparent ;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}





/*checkbox*/


input[type="checkbox"] {
  display: none;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 20px;
}

.checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color: #9a6aff;
  background-color: #9a6aff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*end-chexbox*/


input:focus ~ label {
  color: #9d9d9d;
  transform: translate(-12%, -50%) scale(0.75);
}

label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease;
}

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}

.bar:before,
.bar:after {
  content: '';
  position: absolute;
  background: #9a6aff;
  width: 0;
  height: 2px;
  transition: .2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* Button */
.button-container {
  margin: 40px 60px;
  text-align: center;
}

button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  border: 2px solid #9a6aff;;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s ease;
}

span {
  position: relative;
  z-index: 1;
  color: #9a6aff;
  transition: .3s ease;
}


button:hover,
button:active{
  background-color: #9a6aff;
}

button span:hover,
button span:active,
button span:hover{
  color: #ffffff;
}


.errorText {
  position: absolute;
  top: 70px;
  left: 0;
}


.error {
  color: red
}

.inputError {
  color: #f3c4c4;
}



