/* You can add global styles to this file, and also import other style files */


body{
  background-color: #e3e3e3;
  color: #1e2029;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  text-align: center;
}
